@import "../../../theme/variables.scss";
::-webkit-scrollbar,
*::-webkit-scrollbar {
display: none;
}
.scroll-zoom-wrapper {
    white-space: nowrap;
}
.icon-style {
    box-shadow: -2px -1px 40px 7px #b8b8b8;
    border-radius: 15px;
    background: $white;
    width: 25px;
    height: 25px;
    margin: 2px;
    float: right;
    color:#d04456;
     padding: 5px;
  }
.details-container {
  .item-image, .item-detail , .mightlike-container, .ordergain-conatiner {
    margin: 5px;
  }
}
  .item-image {
    width: 100%;
    height: 200px;
    div {
        width: 100%;
        border-radius: 30px;
        height: 100%;
    img {
        width:100%;
        height: 100%;
    }
    }
   
  }
    .item-detail {
    .pricetag {
  
      background-color: $yellow;
      color: $dark;
      padding: 15px;
      font-weight: 700;
      font-style: bold;
      float: right !important;
      width: auto;
      border-radius: 50%;
      height: auto;
      font-size:8px ;
      background-color: $yellow;
  
    }
    .item-title {
      font {
        font-size:14px; 
        font-weight: 700;
      }
    }
    .rating {
      float:right; 
      font-size:10px;
      ion-icon {
        fill:#ffc409;
      }
      font {
        font-size:10px; 
        font-weight: 700; 
        float:right;
       }
     }
    .item-info  {
    font-size:12px;
    }
  }
.mightlike-container {
  .title {
    font {
      font-size:12px;
    }
  }
 img {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 5px 5px #ccc;
    -moz-box-shadow: 0 0 5px 5px #ccc;
    box-shadow: 0 0 5px 5px #ccc;
    border-radius: 5px;
  }
  ion-slide.swiper-slide  {
    border-radius: 50%;
    width: 20% !important;
    height: 100%;
  }
  #like-card {
    height: 50px;
    border-radius: 10px;
    margin: 1px;
    width:50px;
    background-color:$white;
  }
}

  
.ordergain-conatiner {
  .title {
    font {
      font-size: 12px; 
      font-weight: 700;
    }
  }
  ion-slide.swiper-slide  {
    border-radius: 50%;
    width: 90% !important;
    height: 100%;
  }
   img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px 5px #ccc;
    border-radius: 5px;
    }

}
.recentorder-slider {
  img {
    width: 100%; height: 100%;
  }
  .iteminfo {
    text-align:left;
    .price {
      font-size: 12px;
    }
    .desc {
      color: $gray; 
    }
    .title {
      color: $dark; font-size: 12px;
    }
  }
}
.countinfo {
  margin-left: 3px;
    margin-right: 3px;
    color:$dark;font-size: 16px; font-weight: 700
}
  .footerbar-style {
    max-height: var(--footerbar-max-height);
    background: $white !important;
    .foottolbar{
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      height: 60px;
      .footer-row-style {
        background: $yellow !important;
      height: 60px;
      .addremove{
        box-shadow: -2px -1px 40px 7px #b8b8b8;
        border-radius: 50%;
        background: $white;
        width: 25px;
        height: 25px;
        margin: 2px;
      }
      .itemAddDeatils {
        .btn-cart {
          border-color: $dark;
          color:$white;
          cursor:pointer;
          background-color: $dark; 
          float:right; 
          padding: 5px; 
          border-radius: 20px; 
          border-style: solid; 
          border-width: 1px; 
          width: 50% !important; 
          height: 35px;

          ion-icon {
            font-size: 18px;
          }
          font {
            font-size:12px
          }
        }
      }
      }
    }
  }

  .container-recent {
    height: 100px;
    overflow: hidden; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
    
    .scroll {
      height: 100px;
      overflow: auto;
    }
    .img-card {
      width: 280px !important;
      height: 100px;
      margin: 5px;
      display: inline-flex;
  }
  }