<ion-header class='ion-no-border'>
  <ion-toolbar>
    <ion-row>
      <ion-col class="backtohome" size="2" >
        <ion-icon (click)="back()" style="padding-top:5px; font-size: 14px;" name="chevron-back-outline"></ion-icon>
      </ion-col>
      <ion-title size="6">Details</ion-title>
      <ion-col size="4" class="right-col" no-padding style="text-align: -webkit-right;">
        <div style="margin-left: 10px; height: 30px; width: 30px; background-color: white; border-radius: 50%; text-align: center; padding-top: 2px;">
          <ion-icon style="padding: 5px;color: #000;" name="heart-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="details-container">
    <div class="item-image " id="item-image"  >
      <div>
        <img src="assets/imgs/vegitables.png">
      </div>
    </div>
    <div class="item-detail " id="item-detail" >
      <ion-row>
        <ion-col size="12">
          <div style="margin-top: -32px;">
            <div class="pricetag">
              R 25
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <div class="item-title">
            <font >Wind And Water Resistant Shell</font>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="rating" >
            <ion-icon name="star" ></ion-icon>
            <font >4.3</font>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="item-info">
            <font >Wind And Water Resistant Shell Wind And Water Resistant Shell Wind
              And Water Resistant Shell And Water Resistant Shell And Water Resistant Shell And Water Resistant Shell
              And Water Resistant Shell And Water Resistant Shell And Water Resistant Shell And Water Resistant Shell
            </font>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="mightlike-container " id="mightlike-container" >
      <div class="title">
        <font style="font-size: 12px; font-weight: 700;">You Might Also Like</font>
      </div>
      <div class="" id="">
        <ion-slides spaceBetween="1" slidesPerView="2" pager="false" #mySlider
          (ionSlideWillChange)="onSlideChangeStart($event)" (ionSlideDidChange)="onSlideChanged($event)">
          <ion-slide *ngFor="let item of recommItems">
              <ion-card id="like-card" class="like-card shadow-effect ">
                <ion-grid style="padding: 0px;">
                    <div>
                      <img [src]="[item.imageUrl]">
                    </div>
                </ion-grid>
              </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <div class="ordergain-conatiner" id="ordergain-conatiner">
      <div class="title">
        <font>Order Again</font>
      </div>
      <div class="container-recent" style="margin: 0px;">
        <div class="scroll" scrollY="true">
          <ion-container *ngFor="let item of orderAgain">
            <ion-row class="img-card" (click)='goToDetails()'>
              <ion-col>
                <ion-card style="margin: 0px; height: 80px; border-radius: 10px; width: 120px; background: url('../../assets/imgs/Onion.jpg'); background-size: cover"></ion-card>
              </ion-col>
              <ion-col>
                <ion-row style="margin-top: 10px;">
                  <font style="font-weight: 700; color: black;">Milk</font>
                </ion-row>
                <ion-row>
                  <font style="margin-top: 5px; font-size: 14px;">Pieces 5-7</font>
                </ion-row>
                <ion-row style="margin-top: 5px;">
                  <font style="color: black;">&#8377;40</font>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-container>
        </div>
      </div>

    </div>
  </div>
</ion-content>
<ion-footer class="footerbar-style">
  <ion-toolbar class="foottolbar">
    <ion-row class="footer-row-style">
        <div class="itemAddDeatils" style="width:100%; margin-top: 11px;">
            <ion-row>
              <ion-col size="4">
                <div style="display: inline-flex;">
                  <div (click)="minus($event)" class="addremove">
                    <ion-icon style="padding: 4px;color: #000;" name="remove-outline"></ion-icon>
                  </div>
                  <div style="padding-top: 5px;">
                    <font class="countinfo">{{count}}</font>
                  </div>
  
                  <div (click)="plus($event)" class="addremove">
                    <ion-icon style="padding: 4px;color: #000;" name="add-outline"></ion-icon>
                  </div>
                </div>
              </ion-col>
              <ion-col size="8">
                <div (click)="addToCart(item)" class="btn-cart">
                    <div style="float: left;">
                      <ion-icon  name="basket"></ion-icon>
                    </div>
                    <div>
                      <font >Add to Cart</font>
                    </div>
              </div>
              </ion-col>
           
            </ion-row>
        </div>
    </ion-row>
  </ion-toolbar>
</ion-footer>