<ion-header>
  <ion-toolbar class="toolbar-style" >
    <ion-row>
      <ion-col class="backtohome" size="8" >
        <ion-icon (click)="back()" style="padding-top:5px; font-size: 14px;" name="chevron-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="4">
        <div style="width: 85%;float: right;">
            <div class="icon-style">
              <ion-icon  name="heart-outline"></ion-icon>
            </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="details-container">
    <div class="item-image " id="item-image"  >
      <div>
        <img [src]="[item.imageUrl]">
      </div>
    </div>
    <div class="item-detail " id="item-detail" >
      <ion-row>
        <ion-col size="12">
          <div style="margin-top: -32px;">
            <div class="pricetag">
              R {{item.price}}
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <div class="item-title">
            <font >Wind And Water Resistant Shell</font>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="rating" >
            <ion-icon name="star" ></ion-icon>
            <font >4.3</font>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="item-info">
            <font >Wind And Water Resistant Shell Wind And Water Resistant Shell Wind
              And Water Resistant Shell And Water Resistant Shell And Water Resistant Shell And Water Resistant Shell
              And Water Resistant Shell And Water Resistant Shell And Water Resistant Shell And Water Resistant Shell
            </font>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="mightlike-container " id="mightlike-container" >
      <div class="title" id="">
        <font >You Might Also Like</font>
      </div>
      <div class="" id="">
        <ion-slides spaceBetween="1" slidesPerView="2" pager="false" #mySlider
          (ionSlideWillChange)="onSlideChangeStart($event)" (ionSlideDidChange)="onSlideChanged($event)">
          <ion-slide *ngFor="let item of recommItems">
              <ion-card id="like-card" class="like-card shadow-effect ">
                <ion-grid style="padding: 0px;">
                    <div>
                      <img [src]="[item.imageUrl]">
                    </div>
                </ion-grid>
              </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <div class="ordergain-conatiner" id="ordergain-conatiner">
      <div class="title">
        <font>Order Again</font>
      </div>
      <div>
        <ion-slides class="recentorder-slider" spaceBetween="1" slidesPerView="2" pager="false" #mySlider
          (ionSlideWillChange)="onSlideChangeStart($event)" (ionSlideDidChange)="onSlideChanged($event)">
          <ion-slide *ngFor="let order of orderAgain">
            <ion-card id="order-card" class="order-card shadow-effect ">
              <ion-grid style="padding: 0px;">
                <ion-row>
                  <ion-col size="3" class="img" >
                    <img  [src]=[order.imageUrl]>
                  </ion-col>
                  <ion-col size="9" class="info">
                    <div class="iteminfo" >
                      <div style="width:100%" class="d">
                        <font id="wrap-content" class="title" >{{order.title}}
                        </font>
                      </div>
                      <div style="width:100%;padding-top: 2px;" class="d">
                        <small id="wrap-content" class="desc" >{{order.desc}}</small>
                      </div>
                      <div style="width:100%;padding-top: 2px;" class="d">
                        <font style=" " class="price" >{{order.price}}</font>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>

    </div>
  </div>
</ion-content>
<ion-footer class="footerbar-style">
  <ion-toolbar class="foottolbar">
    <ion-row class="footer-row-style">
        <div class="itemAddDeatils" style="width:100%; margin-top: 11px;">
            <ion-row>
              <ion-col size="4">
                <div style="display: inline-flex;">
                  <div (click)="minus($event)" class="addremove">
                    <ion-icon style="padding: 1px;color: #000;" name="remove-outline"></ion-icon>
                  </div>
                  <div>
                    <font class="countinfo">{{item.count}}</font>
                  </div>
  
                  <div (click)="plus($event)" class="addremove">
                    <ion-icon style="padding: 1px;color: #000;" name="add-outline"></ion-icon>
                  </div>
                </div>
              </ion-col>
              <ion-col size="8">
                <div (click)="addToCart(item)" class="btn-cart">
                    <div style="float: left;">
                      <ion-icon  name="basket"></ion-icon>
                    </div>
                    <div>
                      <font >Add to Cart</font>
                    </div>
              </div>
              </ion-col>
           
            </ion-row>
        </div>
    </ion-row>
  </ion-toolbar>
</ion-footer>