<ion-header>
  <ion-toolbar class="toolbar-style">
    <ion-row>
      <ion-col class="left-col" size="8">
        <ion-icon (click)="back()" name="chevron-back-outline"></ion-icon>
        <span>Deal of the day</span>
      </ion-col>
      <ion-col class="right-col" size="4">
        <div class="header-icon">
          <div class="icon-style">
            <ion-icon name="search-outline"></ion-icon>
          </div>
          <div class="icon-style">
            <ion-icon name="heart-outline"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background-color: #f8f8f8;">
  <div class="dealday-container">
    <div class="category-container">
      <ion-slides class="category-slider" slidesPerView="2" pager="false" #mySlider
        (ionSlideWillChange)="onSlideChangeStart($event)" (ionSlideDidChange)="onSlideChanged($event)">
        <ion-slide *ngFor="let category of categories">
          <ion-grid>
            <ion-row style="justify-content: center; ">
              <div>
                <img class="cat-img" [src]=[category.imageUrl] />
              </div>
              <div>
                <font class="cat-text">{{category.name}}</font>
              </div>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="list-container">
      <ion-card (click)="gotoDetails(item)" *ngFor="let item of items; let i = index" class="shadow-effect list-card">
        <ion-grid>
          <ion-row>
            <ion-col class="left-info" size="4">
              <img [src]="[item.imageUrl]">
            </ion-col>
            <ion-col class="right-info" size="8">
              <div class="iteminfo">
                <div style="width:100%">
                  <font class="title" id="wrap-content">{{item.title}}
                  </font>
                </div>
                <div style="width:100%;">
                  <small class="desc" id="wrap-content">{{item.desc}}</small>
                </div>
                <div style="width:100%;">
                  <font class="price">Rs {{item.price}}</font>
                </div>
              </div>
              <div class="itemAddDeatils">
                <div class="details-left">
                  <div id="counter-info">
                    <div (click)="minus(i, $event)" class="addremove">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div>
                      <font>{{item.count}}</font>
                    </div>

                    <div (click)="plus(i, $event)" class="addremove">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
                <div class="details-right">
                  <ion-row>
                    <ion-col (click)="addToCart(item, $event)">
                      <div id="basket-icon">
                        <ion-icon name="basket"></ion-icon>
                      </div>
                      <div id="basket-title">
                        <font>Add to Cart</font>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card>
    </div>
  </div>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-row class="footer-icon">
      <ion-col (click)="back()" size="2">
        <ion-icon name="home"></ion-icon>
      </ion-col>
      <ion-col size="2" style="cursor: pointer;">
        <ion-icon name="basket"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="apps"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="list"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>