@import '../../../theme/variables.scss';

.signup-btn {
    width: 100%;
    border-radius: 25px;
    padding: 7px 20px 7px 20px;
    outline: none;
    background-color: $yellow;
    label {
        color: $dark;
    }
}

.signin-btn {
    width: 100%;
    outline: none;
    border-radius: 25px;
    border: $dark 1px solid;
    padding: 7px 20px 7px 20px;
    background-color: white;
    label {
        color: $dark;
    }
}
