<ion-header>
  <ion-toolbar style="padding-top: 13px;" class="toolbar-style">
    <ion-row class="toolbar-row">
      <ion-col class="toolbar-search" size="8">
        <ion-input style="font-size: 12px;
           " color="dark" placeholder="Search.."></ion-input>
      </ion-col>
      <ion-col class="toolbar-icon" size="4">
        <div style="display: inline-flex;">
          <div class="icon-style">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="icon-style">
            <ion-icon name="search-outline"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="home-container">
    <div class="slider-container">
      <ion-grid>
        <ion-row>
          <div class="imageslider">
            <ion-slides pager #mySlider (ionSlideWillChange)="onSlideChangeStart($event)"
              (ionSlideDidChange)="onSlideChanged($event)">
              <ion-slide class="" *ngFor="let item of imageSlider">
                <div class="img-slide" style="margin-top: 5px;">
                  <img [src]="item.imageUrl" width="100%" height="100%" style="border-radius: 25px;
                width: 75%;
                height: 100%;" />

                </div>
              </ion-slide>
            </ion-slides>
          </div>
        </ion-row>
      </ion-grid>

    </div>
    <div class="category-container">
      <ion-slides class="category-slider" slidesPerView="2" pager="false" #mySlider
        (ionSlideWillChange)="onSlideChangeStart($event)" (ionSlideDidChange)="onSlideChanged($event)">
        <ion-slide *ngFor="let category of categories">
          <ion-grid>
            <ion-row style="justify-content: center; ">
              <div>
                <img class="cat-img" [src]=[category.imageUrl] />
              </div>
              <div>
                <font class="cat-text">{{category.name}}</font>
              </div>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="recentorder-container">
      <div class="recentorder-title">
        <font style="margin-left: 10px; font-size: 12px; font-weight: 700;">Order Again</font>
      </div>
      <div class="recentorder-item">
        <ion-slides class="recentorder-slider" spaceBetween="1" slidesPerView="2" pager="false" #mySlider
          (ionSlideWillChange)="onSlideChangeStart($event)" (ionSlideDidChange)="onSlideChanged($event)">
          <ion-slide *ngFor="let order of recentOrders">
            <ion-card id="order-card" class="order-card shadow-effect ">
              <ion-grid style="padding: 0px;">
                <ion-row>
                  <ion-col size="4">
                    <img style="width: 100%; height: 100%;" [src]=[order.imageUrl]>
                  </ion-col>
                  <ion-col size="8">
                    <div class="iteminfo" style="text-align:left">
                      <div style="width:100%" class="d">
                        <font id="wrap-content" style="color: black; font-size: 12px;">{{order.title}}
                        </font>
                      </div>
                      <div style="width:100%;padding-top: 2px;" class="d">
                        <small id="wrap-content" style="color: gray; ">{{order.desc}}</small>
                      </div>
                      <div style="width:100%;padding-top: 2px;" class="d">
                        <font style=" font-size: 12px;">{{order.price}}</font>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>



    </div>
    <div class="recomm-container">
      <div class="">
        <font style="margin-left: 10px; font-size: 12px; font-weight: 700;">Recommended</font>
      </div>
      <div class="">
        <ion-card *ngFor="let recommItem of recommItems" id="recom-card" class="shadow-effect " class="item"
          (click)="gotoDetails(item)">
          <ion-grid style="padding: 0px;">
            <ion-row>
              <ion-col size="8" style="display: inline-flex;">
                <div style="width:40%;" class="">
                  <img [src]="[recommItem.imageUrl]">
                </div>
                <div style="width:60%; margin-left: 0px;" class="iteminfo">
                  <div style="text-align:left;width:100%">
                    <font title="{{recommItem.title}}" id="wrap-content"
                      style="color: black; font-size: 10px; font-weight: 700;">{{recommItem.title}}</font>
                  </div>
                  <div style="text-align:left;width:100% ; padding-top: 2px;">
                    <div style="width:100%;">
                      <small style="font-size: 10px; color: gray; ">{{recommItem.desc}}</small>
                    </div>

                  </div>
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="additem">
                  <ion-icon name="add" style="padding:5px"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </div>
    </div>
  </div>



</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row class="footer-icon">
      <ion-col size="2">
        <ion-icon name="home"></ion-icon>
      </ion-col>
      <ion-col size="2" (click)="dealOfTheDay()" style="cursor: pointer;">
        <ion-icon name="basket"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="apps"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="list"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>