@import '../../../theme/variables.scss';

.card {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: $yellow;
    margin: unset;
    --box-shadow: unset;
    height: 70%;
}

.input-item {
    --background: transparent;
    color: white;
    --border-color: white;
    --padding-start: 8px;
}

.login-btn {
    width: 80%;
    height: 42px;
    font-size: large;
    --border-color: white;
    --background: transparent;
    --background-activated: white;
    --color-activated: $yellow;
    --color: white;
}