@import '../../../theme/variables.scss';

.checkout-container {
    .delivery-status, .deliver-to, .delivery-method {
        margin-bottom: 12px ;
        // border: 1px solid red;
    }
}

.toolbar-style {
    .left-col{
      display: inline-flex;
      padding-top: 12px;
      ion-icon, span {
          font-weight: bold;
          cursor: pointer;
          font-size: 14px;
      }
    }
  
    .right-col {
     .header-icon {
      display: inline-flex;
      margin-left: 4px;
      width: 85%;
      float: right; 
      margin-bottom: 12px;
      background-color: $yellow !important;
      border-top-left-radius: 20px; 
      border-bottom-left-radius: 20px;
      .icon-style {
     
        ion-icon {
          padding: 5px;
          color: $dark;
        }
        small {
      font-size: 10px;
    position: absolute;
    top: 13px;

        }
      }
    }
    }
    
  }
.delivery-status {
    width:100%;
}

.deliver-to {
    width:100%;
    height: 150px;
}


.delivery-method {
    width:100%;
    height: 150px;
}
.deliver-head {
    width:100%;
}
.deliver-info {
    width: 100px;
    height: 200px;
    display: inline-block;
}
.address-text {
    width: 100%;
    float: left;
    text-align: left;
    font-size: 11px;
    color: #000;
}
.address-details {
    height: 65px;
    padding-top: 7px;
    border-bottom: 1px solid #ccc;
}
.order-status {
    ion-col {
padding:0;
    }
    span {
        font-size: 10px;
        color:#000;
    }
   
}
.dot {
    height: 5px;
width: 5px;
background-color: #000;
border-radius: 50%;
display: inline-block;
}

// .deliverymet-text {
//     font-size: 11px;
//     color: #000;
//     float: left;
//     text-align: left;
//     padding: 10px;
// }
.deliverymet-text {
    width: 100%;
    float: left;
    text-align: left;
    font-size: 11px;
    color: #000;
}
.deliverymet-details {
    height: 65px;
    padding-top: 7px;
    border-bottom: 1px solid #ccc;
}
.footerbar-style {
    max-height: 200px;
    background: $white !important;
    height: 100%;
    .foottolbar{
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      height: 200px;
      .footer-row-style {
        background: $yellow !important;
        height: 200px;
        font-size: 10px;
        color:#000;
        padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
      }
    }
  }
  .left-align {
      text-align: left;
  }
  .right-align {
    text-align: right;
}
.footer-total {
    margin-left: 14px;
    width: 90%;
    height: 80px;
    background-color: #fff !important;
    border-radius: 8px;
    .btn {
        .btn-conform {
        cursor: pointer;
        text-align: center;
        background-color: #222;
        float: right;
        color: #fff;
        padding: 0px;
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        width: 100% !important;
        height: 34px;
        border: 1px solid #000;
        font-size: 12px;
        }
    }
}